<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>GrandPyBot</title>

    <link rel="icon" type="image/png" href="../static/img/hello-01.png"/>

</head>


<body>

<!-- /// HEADER : Logo, Title and Headline /// -->
<header class="header">
    <div class="container-fluid">
        <!-- Title and Headline -->
        <div class="row">
            <h1 id="title">
                <span class="align-middle">GrandPyBot</span>
            </h1>
        </div>
    </div>
</header>

<section class="explanation">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h3 id=" headline">
                        GrandPyBot, le vieux robot qui sait tout.</h3>
                    <h6>Enfin presque...</h6>
                    <p>Vous révez d'en apprendre plus sur des lieux que vous
                        aimez
                        ?<br/>
                        Génial ! GrandPyBot se fera un plaisir de vous raconter
                        une
                        histoire !<br/>
                        <strong>Avertissement</strong> : Après trois ans de bons et loyaux services, son
                        obsolescence programmée l'a rattrapée...</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="grandpybot-chat">
    <!-- /// CHAT ZONE -->
    <div class="container">
        <!-- // Chat window and Input zone // -->
        <section id="chatzone">
            <div class="container">
                <div class="row h-100">
                    <div class="col">
                        <!-- Chat window -->
                        <div id="chatwindow">
                            <div id="chatstart" class="GrandPyBot">
                                <img src="../static/img/grandpybot_storytelling-01.jpg"
                                     class="GrandPyBot-img">
                                <h4>GrandPyBot :</h4>
                                <p> Bonjour ! Approche toi ! Si tu as des
                                    questions
                                    sur
                                    un lieu, c'est ici ! <br/>J'espère avoir
                                    l'occasion
                                    de te raconter quelques anecdotes ! Haha
                                    !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="inputzone">
            <!-- Input zone -->
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6">
                        <div id="chatform">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <input id="user_query"
                                           class="form-control col mb-2 mr-sm-2"
                                           type="text"
                                           placeholder="Ex :Dis-moi GrandPyBot,
                                           où se situe la tour Effeil ?"
                                           autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-primary col mb-2"
                                           id="submit"
                                           type="button"
                                           value="Valider">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<footer class="footer">
    <div class="row">
        <div class="container-fluid">
            <p class="text-center">
                Code by Mickaël Lalevée. Source code on
                <a href="https://github.com/Elladan81/P7_GrandPyBot">GitHub</a>
            </p>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ key }}">
</script>
<script type="text/javascript" src="../static/js/display.js"></script>
<script type="text/javascript" src="../static/js/ajax.js"></script>

</body>

</html>