<!doctype html>
<html lang='fr'>

<head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>{{ name }}</h1>
    <p>My little Flask App</p>
    <form method="post">
        <select name="query">
            <option value="">...choisissez :</option>
            <option value="openclassrooms">openclassrooms</option>
        </select>
        <input type="submit" name="submit" value="Send">
    </form>
    <p><pre>{{raw response}}</pre></p>
    <p>Map in progress</p>
    <p>Find my project on <a href="{{url}}">My Github</a> </p>
</body>
</html>
